body {
	background-image: url(../../resource/background.jpg);
	background-repeat: repeat-x;
	width: 100%;
}

.index-center {
    position:absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 550px;
    width: 900px;
    text-align: center;
    font-weight: 300;
}

/*.center {
    position:absolute;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    height: 550px;
    width: 900px;
    text-align: center;
    font-weight: 300;
}
.form {
	position:fixed;
    top: 260px;
    left: 600px;
    width: 80px;
    text-align: center;
    font-size: 20pt;
    font-weight: 100;
}
img {
    width: 100%;
    height: auto;
    opacity: 0.9;
    margin-top: 4%;
    margin-right: 8%;
    margin-bottom: 5%;
    margin-left: 14%;
}*/

.button {
	display: inline-block;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    width: 180px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    cursor: pointer;
    border-radius: 16px;
}
.button span {
 	cursor: pointer;
  	display: inline-block;
  	position: relative;
  	transition: 0.5s;
}
.button span:after {
  	content: '>>';
  	position: absolute;
  	opacity: 0;
  	top: 0;
  	right: -10px;
  	transition: 0.5s;
}
.button:hover span {
  	padding-right: 45px;
}
.button:hover span:after {
  	opacity: 1;
  	right: 0;
}